.rosehip {
  padding: 10px;
  border: 1px solid #DDD;
  box-shadow: 1px 1px 2px 0px #DDD
}

.rosehip rosehip_test_suite {
  display: block;
  padding: 10px;
}

.rosehip rosehip_test {
  font-family: Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border-radius: 3px;
  margin: 10px;
  border: 1px solid rgba(0,0,0,0.3);
}

.rosehip rosehip_test > * {
  padding: 10px;
}

.rosehip rosehip_test status {
  display: inline-block;
  width: 5em;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  text-shadow: 0px 0px 1px #000;
}
.rosehip rosehip_test test_name {
  display: inline-block;
  font-weight: normal;
  text-shadow: 0px 0px 1px rgba(0,0,0,0.4);
}

.rosehip rosehip_test stack_trace {
  /*padding-top: 1em;
  padding-bottom: 1em;*/
  padding-left: 1em;
  display: block;
  font-family: Monaco, Consolas, "Courier New", Courier, monospace;
  font-size: 90%;
  line-height: 1.5em;
  border-left: 1px dashed rgb(237, 74, 4);
  background-color: rgb(255, 243, 237);
}

.rosehip rosehip_test {
  border-color: #777;
  background-color: #EEE;
}

.rosehip rosehip_test status {
  border-color: #777;
  color: white;
  background-color: #777;
}

.rosehip rosehip_test.running {
  border-color: #ffed00;
  background-color: #fffeeb;
}

.rosehip rosehip_test.running status {
  border-color: #ffed00;
  color: white;
  background-color: #ffed00;
}

.rosehip rosehip_test.success {
  border-color: rgb(90, 191, 0);
  background-color: rgb(244, 255, 217);
}

.rosehip rosehip_test.success status {
  border-color: rgb(91, 194, 0);
  color: white;
  background-color: rgb(90, 191, 0);
}

.rosehip rosehip_test.failure {
  border-color: rgb(237, 74, 4);
  background-color: rgb(255, 243, 237);
}

.rosehip rosehip_test.failure status {
  border-color: rgb(237, 45, 4);
  color: white;
  background-color: rgb(237, 74, 4);
}
